In [1]:
import pandas as pd
import numpy as np
from sklearn.model_selection import StratifiedShuffleSplit

In [2]:
df = pd.read_csv('../bases_dados/census.csv')

In [4]:
df['income'].value_counts()

 <=50K    24720
 >50K      7841
Name: income, dtype: int64

In [5]:
7841 / len(df)

0.2408095574460244

In [6]:
24720 / len(df)

0.7591904425539756

In [7]:
100 / len(df)

0.0030711587481956942

In [8]:
 split = StratifiedShuffleSplit(test_size=0.0030711587481956942) # 0.1 = 10% da base de dados

In [9]:
for x, y in split.split(df, df['income']):
    df_x = df.iloc[x]
    df_y = df.iloc[y]

In [10]:
df_x.shape, df_y.shape

((32461, 15), (100, 15))

In [11]:
df_y.head()

,age,workclass,final-weight,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loos,hour-per-week,native-country,income
21246,61,Private,95929,9th,5,Divorced,Other-service,Not-in-family,White,Male,0,0,40,United-States,<=50K
2034,27,Private,335764,11th,7,Married-civ-spouse,Sales,Own-child,Black,Male,0,0,35,United-States,<=50K
5382,26,Private,205428,Some-college,10,Married-civ-spouse,Sales,Husband,White,Male,0,0,45,United-States,<=50K
11756,36,Private,99872,HS-grad,9,Married-civ-spouse,Craft-repair,Husband,Asian-Pac-Islander,Male,0,0,40,India,<=50K
24191,56,Self-emp-not-inc,403072,Some-college,10,Married-civ-spouse,Craft-repair,Husband,White,Male,0,0,50,United-States,>50K

In [12]:
df_y['income'].value_counts()

 <=50K    76
 >50K     24
Name: income, dtype: int64

In [16]:
def amostragem_estratificada(df, percentual):
    split = StratifiedShuffleSplit(test_size=percentual, random_state=1)
    
    for _, y in split.split(df, df['income']):
        df_y = df.iloc[y]
    return df_y

In [17]:
df_amostra_estratificada = amostragem_estratificada(df, 0.0030711587481956942)

In [18]:
df_amostra_estratificada.shape

(100, 15)

In [19]:
df_amostra_estratificada

,age,workclass,final-weight,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loos,hour-per-week,native-country,income
5611,47,Private,176319,HS-grad,9,Married-civ-spouse,Sales,Own-child,White,Female,0,0,38,United-States,>50K
30532,41,Private,242619,Assoc-acdm,12,Divorced,Prof-specialty,Not-in-family,White,Male,0,0,80,United-States,<=50K
4586,21,Private,152540,HS-grad,9,Never-married,Adm-clerical,Not-in-family,White,Female,0,0,35,United-States,<=50K
15764,33,Private,132705,9th,5,Separated,Adm-clerical,Not-in-family,White,Male,0,0,48,United-States,<=50K
4511,24,Private,140001,Bachelors,13,Never-married,Exec-managerial,Not-in-family,White,Male,0,0,40,United-States,<=50K
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
14135,21,Private,185582,Some-college,10,Never-married,Sales,Own-child,White,Male,0,0,43,United-States,<=50K
23856,32,Private,72744,HS-grad,9,Never-married,Craft-repair,Own-child,White,Male,0,0,40,United-States,<=50K
2964,27,Private,193701,HS-grad,9,Never-married,Craft-repair,Own-child,White,Female,0,0,45,United-States,<=50K
15845,46,Private,207301,HS-grad,9,Never-married,Adm-clerical,Not-in-family,White,Female,0,0,37,United-States,<=50K
23215,55,Private,104996,7th-8th,4,Married-civ-spouse,Transport-moving,Husband,White,Male,0,0,50,United-States,<=50K