In [3]:
import pandas as pd
import numpy as np
import random

In [4]:
df = pd.read_csv('../bases_dados/census.csv')

In [3]:
df.shape

(32561, 15)

In [6]:
len(df) // 100

325

In [10]:
random.seed(1)
random.randint(0, 325)

68

In [11]:
68 + 325 # pr√≥ximo registro

393

In [13]:
393 + 325

718

In [14]:
np.arange(68, len(df), step=325)

array([   68,   393,   718,  1043,  1368,  1693,  2018,  2343,  2668,
        2993,  3318,  3643,  3968,  4293,  4618,  4943,  5268,  5593,
        5918,  6243,  6568,  6893,  7218,  7543,  7868,  8193,  8518,
        8843,  9168,  9493,  9818, 10143, 10468, 10793, 11118, 11443,
       11768, 12093, 12418, 12743, 13068, 13393, 13718, 14043, 14368,
       14693, 15018, 15343, 15668, 15993, 16318, 16643, 16968, 17293,
       17618, 17943, 18268, 18593, 18918, 19243, 19568, 19893, 20218,
       20543, 20868, 21193, 21518, 21843, 22168, 22493, 22818, 23143,
       23468, 23793, 24118, 24443, 24768, 25093, 25418, 25743, 26068,
       26393, 26718, 27043, 27368, 27693, 28018, 28343, 28668, 28993,
       29318, 29643, 29968, 30293, 30618, 30943, 31268, 31593, 31918,
       32243])

In [5]:
def amostragem_sistematica(df, amostras):
    import numpy as np
    intervalo = len(df) // amostras
    random.seed(1)
    
    inicio = random.randint(0, intervalo)
    indices = np.arange(inicio, len(df), step=intervalo)
    
    amostra_sistematica = df.iloc[indices]
    
    return amostra_sistematica

In [6]:
df_amostra_sistematica = amostragem_sistematica(df, 100)
df_amostra_sistematica.shape

(100, 15)

In [7]:
df_amostra_sistematica.head()

,age,workclass,final-weight,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loos,hour-per-week,native-country,income
68,49,Self-emp-inc,191681,Some-college,10,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,50,United-States,>50K
393,34,State-gov,98101,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,7688,0,45,?,>50K
718,22,Private,214399,Some-college,10,Never-married,Sales,Own-child,White,Female,0,0,15,United-States,<=50K
1043,44,Private,167005,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,7688,0,60,United-States,>50K
1368,52,Private,152234,HS-grad,9,Married-civ-spouse,Exec-managerial,Husband,Asian-Pac-Islander,Male,99999,0,40,Japan,>50K