In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('../bases_dados/census.csv')

In [33]:
df.head()

,age,workclass,final-weight,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loos,hour-per-week,native-country,income
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K

In [22]:
df_age = df['age']
# df_age = pd.DataFrame(df_age)

In [23]:
df_age

0        39
1        50
2        38
3        53
4        28
         ..
32556    27
32557    40
32558    58
32559    22
32560    52
Name: age, Length: 32561, dtype: int64

In [24]:
df_age.describe()

count    32561.000000
mean        38.581647
std         13.640433
min         17.000000
25%         28.000000
50%         37.000000
75%         48.000000
max         90.000000
Name: age, dtype: float64

In [35]:
df_age.mode()[0]

36

In [26]:
df_age.median()

37.0

In [27]:
from scipy.stats.mstats import gmean # media geometrica

In [28]:
gmean(df_age)

36.210879158177256

In [29]:
from scipy.stats.mstats import hmean # media harmonica

In [30]:
hmean(df_age)

33.91874139089839

In [31]:
# media quadratica

from math import sqrt

def quadratic_mean(dados):
    return sqrt(sum(n * n for n in dados) / len(dados))

In [32]:
df_age2 = df['age']

quadratic_mean(df_age2)

40.9218664329987