In [1]:
import numpy as np
import statistics
from scipy import stats
import math

# Dados não agrupados

In [2]:
dados = np.array([150, 151, 152, 152, 153, 154, 155, 155, 155, 155, 156, 156, 156,
                  157, 158, 158, 160, 160, 160, 160, 160, 161, 161, 161, 161, 162,
                  163, 163, 164, 164, 164, 165, 166, 167, 168, 168, 169, 170, 172,
                  173])

## Média aritmética simples

In [6]:
dados.sum() / len(dados)

160.375

In [7]:
dados.mean()

160.375

In [10]:
statistics.mean(dados)

160

## Moda

In [11]:
statistics.mode(dados)

160

In [15]:
stats.mode(dados)

ModeResult(mode=array([160]), count=array([5]))

## Mediana

In [16]:
dados_impar = [150, 151, 152, 152, 153, 154, 155, 155, 155]

In [17]:
# calculo manual

posicao = len(dados_impar) / 2
posicao

4.5

In [19]:
posicao = math.ceil(posicao)
posicao

5

In [22]:
dados_impar[posicao - 1]

153

In [24]:
# dados pares

posicao = len(dados) // 2 # dados é a variável com 40 registros
posicao

20

In [26]:
dados[posicao - 1], dados[posicao]

(160, 160)

In [28]:
md = (dados[posicao-1] + dados[posicao]) / 2
md

160.0

In [29]:
# Bibliotecas

In [31]:
np.median(dados_impar) # numpy

153.0

In [32]:
np.median(dados) # numpy

160.0

In [34]:
statistics.median(dados_impar)

153

In [35]:
statistics.median(dados)

160.0

# Dados agrupados

In [37]:
dados = {'inferior': [150, 154, 158, 162, 166, 170],
         'superior': [154, 158, 162, 166, 170, 174],
         'fi': [5, 9, 11, 7, 5, 3]}

In [38]:
import pandas as pd

df = pd.DataFrame(dados)
df

   inferior  superior  fi
0       150       154   5
1       154       158   9
2       158       162  11
3       162       166   7
4       166       170   5
5       170       174   3

In [39]:
df['xi'] = (df['superior'] + df['inferior']) / 2
df

   inferior  superior  fi     xi
0       150       154   5  152.0
1       154       158   9  156.0
2       158       162  11  160.0
3       162       166   7  164.0
4       166       170   5  168.0
5       170       174   3  172.0

In [40]:
df['fi.xi'] = df['fi'] * df['xi']
df

   inferior  superior  fi     xi   fi.xi
0       150       154   5  152.0   760.0
1       154       158   9  156.0  1404.0
2       158       162  11  160.0  1760.0
3       162       166   7  164.0  1148.0
4       166       170   5  168.0   840.0
5       170       174   3  172.0   516.0

In [41]:
df['Fi'] = 0
df

   inferior  superior  fi     xi   fi.xi  Fi
0       150       154   5  152.0   760.0   0
1       154       158   9  156.0  1404.0   0
2       158       162  11  160.0  1760.0   0
3       162       166   7  164.0  1148.0   0
4       166       170   5  168.0   840.0   0
5       170       174   3  172.0   516.0   0

In [50]:
frequencia_acumulada = []
somatorio = 0

for linha in df.iterrows():
    # print(linha[1][2])
    
    somatorio += linha[1][2]
    frequencia_acumulada.append(somatorio)

In [51]:
frequencia_acumulada

[5.0, 14.0, 25.0, 32.0, 37.0, 40.0]

In [52]:
df['Fi'] = frequencia_acumulada

In [53]:
df

   inferior  superior  fi     xi   fi.xi    Fi
0       150       154   5  152.0   760.0   5.0
1       154       158   9  156.0  1404.0  14.0
2       158       162  11  160.0  1760.0  25.0
3       162       166   7  164.0  1148.0  32.0
4       166       170   5  168.0   840.0  37.0
5       170       174   3  172.0   516.0  40.0

## Média arimética simples

In [56]:
df['fi'].sum(), df['fi.xi'].sum()

(40, 6428.0)

In [57]:
df['fi.xi'].sum() / df['fi'].sum()

160.7

## Moda

In [58]:
df['fi'].max()

11

In [59]:
df[df['fi'] == df['fi'].max()]

   inferior  superior  fi     xi   fi.xi    Fi
2       158       162  11  160.0  1760.0  25.0

In [62]:
df[df['fi'] == df['fi'].max()]['xi'].values[0]

160.0

## Mediana

In [63]:
df

   inferior  superior  fi     xi   fi.xi    Fi
0       150       154   5  152.0   760.0   5.0
1       154       158   9  156.0  1404.0  14.0
2       158       162  11  160.0  1760.0  25.0
3       162       166   7  164.0  1148.0  32.0
4       166       170   5  168.0   840.0  37.0
5       170       174   3  172.0   516.0  40.0

In [66]:
fi_2 = df['fi'].sum() / 2
fi_2

20.0

In [71]:
limite_inferior, frequencia_classe, id_frequencia_anterior = 0, 0, 0

for linha in df.iterrows():
    # print(linha)
    
    limite_inferior = linha[1][0]
    frequencia_classe = linha[1][2]
    id_frequencia_anterior = linha[0]
    
    if linha[1][5] > fi_2:
        id_frequencia_anterior -= 1
        break

In [72]:
limite_inferior, frequencia_classe, id_frequencia_anterior

(158.0, 11.0, 1)

In [74]:
Fi_anterior = df.iloc[[id_frequencia_anterior]]['Fi'].values[0]
Fi_anterior

14.0

In [75]:
md = limite_inferior + ((fi_2 - Fi_anterior) * 4) / frequencia_classe
md

160.1818181818182

## Função para calcular todos juntos

In [76]:
def estatisticas(df):
    media = df['fi.xi'].sum() / df['fi'].sum()
    moda = df[df['fi'] == df['fi'].max()]['xi'].values[0]
    
    fi_2 = df['fi'].sum() / 2
    limite_inferior, frequencia_classe, id_frequencia_anterior = 0, 0, 0
    
    for i, linha in enumerate(df.iterrows()):
        limite_inferior = linha[1][0]
        frequencia_classe = linha[1][2]
        id_frequencia_anterior = linha[0]
        
        if linha[1][5] >= fi_2:
            id_frequencia_anterior -= 1
            break
            
    Fi_anterior = df.iloc[[id_frequencia_anterior]]['Fi'].values[0]
    mediana = limite_inferior + ((fi_2 - Fi_anterior) * 4) / frequencia_classe
    
    return media, moda, mediana

In [77]:
estatisticas(df)

(160.7, 160.0, 160.1818181818182)