In [10]:
import numpy as np

In [2]:
dados = np.array([150, 151, 152, 152, 153, 154, 155, 155, 155, 155, 156, 156, 156,
                  157, 158, 158, 160, 160, 160, 160, 160, 161, 161, 161, 161, 162,
                  163, 163, 164, 164, 164, 165, 166, 167, 168, 168, 169, 170, 172,
                  173])

## Numpy

In [3]:
np.median(dados)

160.0

In [4]:
np.quantile(dados, 0.5)

160.0

In [5]:
np.percentile(dados, 50)

160.0

In [7]:
np.percentile(dados, 5)

151.95

In [8]:
np.percentile(dados, 10)

152.9

In [9]:
np.percentile(dados, 90)

168.1

## Stats

In [ ]:
from scipy import stats

In [11]:
stats.scoreatpercentile(dados, 5)

151.95000000000002

In [12]:
stats.scoreatpercentile(dados, 10)

152.89999999999998

In [13]:
stats.scoreatpercentile(dados, 90)

168.1

## Pandas

In [14]:
import pandas as pd

In [16]:
dataset = pd.DataFrame(dados)
dataset.head()

     0
0  150
1  151
2  152
3  152
4  153

In [17]:
dataset.quantile([0.05, 0.10, 0.90])

           0
0.05  151.95
0.10  152.90
0.90  168.10