# Quartis
Dados não agrupados

In [3]:
import numpy as np

In [1]:
dados_impar = [150, 151, 152, 152, 153, 154, 155, 155, 155]

### Cálculo manual

In [54]:
md = np.median(dados_impar)
md

153.0

In [22]:
md_pos = dados_impar.index(md)
md_pos

4

In [23]:
esquerda = dados_impar[:md_pos]
esquerda

[150, 151, 152, 152]

In [52]:
np.median(esquerda)

151.5

In [26]:
direita = dados_impar[md_pos+1:]
direita

[154, 155, 155, 155]

In [53]:
np.median(direita)

155.0

### Cálculo com bibliotecas

In [28]:
np.quantile(dados_impar, 0.5) # 0.5 = 50% da base de dados

153.0

In [29]:
np.quantile(dados_impar, 0.75)

155.0

In [30]:
np.quantile(dados_impar, 0.25) # inclui o 153

152.0

In [32]:
esquerda2 = dados_impar[0:md_pos+1]
esquerda2

[150, 151, 152, 152, 153]

In [33]:
np.median(esquerda2)

152.0

In [ ]:
np.quantile(dados_impar)

In [35]:
# teste com todos os dados

dados = np.array([150, 151, 152, 152, 153, 154, 155, 155, 155, 155, 156, 156, 156,
                  157, 158, 158, 160, 160, 160, 160, 160, 161, 161, 161, 161, 162,
                  163, 163, 164, 164, 164, 165, 166, 167, 168, 168, 169, 170, 172,
                  173])

In [36]:
np.quantile(dados, 0.25), np.quantile(dados, 0.50), np.quantile(dados, 0.75)

(155.75, 160.0, 164.0)

In [43]:
from scipy import stats

In [44]:
stats.scoreatpercentile(dados, 25)

155.75

In [45]:
stats.scoreatpercentile(dados, 50)

160.0

In [46]:
stats.scoreatpercentile(dados, 75)

164.0

In [47]:
import pandas as pd

In [49]:
dataset = pd.DataFrame(dados)
dataset.head()

     0
0  150
1  151
2  152
3  152
4  153

In [50]:
dataset.quantile([0.25, 0.50, 0.75])

           0
0.25  155.75
0.50  160.00
0.75  164.00

In [51]:
dataset.describe()

                0
count   40.000000
mean   160.375000
std      5.903877
min    150.000000
25%    155.750000
50%    160.000000
75%    164.000000
max    173.000000