In [1]:
import pandas as pd

In [2]:
dados = {'ano': ['1', '2', '3', '4', 'total'],
        'matriculas_marco': [70, 50, 47, 23, 190],
        'matriculas_novembro': [65, 48, 40, 22, 175]}

In [6]:
type(dados)

dict

In [4]:
df = pd.DataFrame(dados)

In [5]:
df

     ano  matriculas_marco  matriculas_novembro
0      1                70                   65
1      2                50                   48
2      3                47                   40
3      4                23                   22
4  total               190                  175

In [7]:
df['taxa_evasao'] = ((df['matriculas_marco'] - df['matriculas_novembro']) / df['matriculas_marco']) * 100

In [8]:
df

     ano  matriculas_marco  matriculas_novembro  taxa_evasao
0      1                70                   65     7.142857
1      2                50                   48     4.000000
2      3                47                   40    14.893617
3      4                23                   22     4.347826
4  total               190                  175     7.894737