In [13]:
from sklearn.feature_selection import f_classif
from sklearn.feature_selection import SelectFdr
from sklearn.metrics import accuracy_score
from sklearn.naive_bayes import GaussianNB
import pandas as pd
import numpy as np

In [5]:
data = pd.read_csv('../bases_dados/ad.data', header=None)
data.head()

,0,1,2,3,4,5,6,7,8,9,...,1549,1550,1551,1552,1553,1554,1555,1556,1557,1558
0,125,125,1.0000,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,ad.
1,57,468,8.2105,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,ad.
2,33,230,6.9696,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,ad.
3,60,468,7.8000,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,ad.
4,60,468,7.8000,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,ad.

In [6]:
x = data.iloc[:, 0:1558].values
x.shape

(3279, 1558)

In [7]:
y = data.iloc[:, 1558].values
y.shape, y

((3279,),
 array(['ad.', 'ad.', 'ad.', ..., 'nonad.', 'nonad.', 'nonad.'],
       dtype=object))

In [8]:
selecao = SelectFdr(f_classif, alpha=0.01)
x_novo = selecao.fit_transform(x, y)

In [9]:
x.shape, x_novo.shape

((3279, 1558), (3279, 433))

In [10]:
selecao.pvalues_

array([1.31095977e-005, 1.19510994e-200, 4.91337302e-016, ...,
       1.35872010e-042, 3.77636040e-012, 9.35989125e-002])

In [12]:
np.sum(selecao.pvalues_ < 0.01)

476

In [14]:
naive = GaussianNB().fit(x_novo, y)
previsoes = naive.predict(x_novo)

accuracy_score(y, previsoes)

0.970722781335773