In [1]:
from sklearn.preprocessing import LabelEncoder
from sklearn.naive_bayes import MultinomialNB
from sklearn.metrics import accuracy_score
import seaborn as sns
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv('../bases_dados/census.csv')

In [3]:
df.head()

,age,workclass,final-weight,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loos,hour-per-week,native-country,income
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K

In [24]:
encoder0 = LabelEncoder()
encoder1 = LabelEncoder()
encoder2 = LabelEncoder()
encoder3 = LabelEncoder()
encoder4 = LabelEncoder()
encoder5 = LabelEncoder()
encoder6 = LabelEncoder()

In [25]:
df['workclass'] = enconder0.fit_transform(df['workclass'])

In [26]:
df['education'] = encoder1.fit_transform(df['education'])

In [27]:
df['marital-status'] = encoder2.fit_transform(df['marital-status'])

In [28]:
df['occupation'] = encoder3.fit_transform(df['occupation'])

In [29]:
df['relationship'] = encoder4.fit_transform(df['relationship'])

In [30]:
df['race'] = encoder5.fit_transform(df['race'])

In [32]:
df['native-country'] = encoder6.fit_transform(df['native-country'])

In [33]:
df.head()

,age,workclass,final-weight,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loos,hour-per-week,native-country,income
0,39,7,77516,9,13,4,1,1,4,1,2174,0,40,39,<=50K
1,50,6,83311,9,13,2,4,0,4,1,0,0,13,39,<=50K
2,38,4,215646,11,9,0,6,1,4,1,0,0,40,39,<=50K
3,53,4,234721,1,7,2,6,0,2,1,0,0,40,39,<=50K
4,28,4,338409,9,13,2,10,5,2,0,0,0,40,5,<=50K

In [34]:
x = df.iloc[:, [1, 3, 5, 6, 7, 8, 13]].values

In [36]:
y = df['income'].values

In [37]:
multinomial = MultinomialNB()

In [38]:
multinomial.fit(x, y)

MultinomialNB()

In [39]:
previsoes = multinomial.predict(x)

In [40]:
previsoes

array([' <=50K', ' <=50K', ' <=50K', ..., ' <=50K', ' <=50K', ' <=50K'],
      dtype='<U6')

In [41]:
y

array([' <=50K', ' <=50K', ' <=50K', ..., ' <=50K', ' <=50K', ' >50K'],
      dtype=object)

In [42]:
accuracy_score(previsoes, y)

0.7485949448727005